__pycache__/
agents/
results_evaluation/
results_evaluation_without_path/
.vscode/
change_config.py
fig/
seq*/
data_a_star/
data_trajectories/
comparison_nlookahead/
fig/

Part2.md
Part1.md
sdf_path.md

config_path/
grid_search/
fig/Astar_*
test_pyvista.ipynb
fig/
paraview/

*.log
*.vti
*.vtp
*.jpeg

*.pdf
*.zip
*.sh
*.npy
*.json
*.txt
*.mp4
*.npz
*.csv
*.sh

.DS_Store
Part3.md