*.log
agents/*/models/
__pycache__/
agents/
results_evaluation/
results_evaluation_without_path/
.vscode/
change_config.py
data/
Part2.md
Part1.md
sdf_path.md
config_path/
sdf_path.md
grid_search/
fig/Astar_*
*.mp4
*.html